---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -1
AlignOperands: true
ColumnLimit: 81
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 2
IndentWrappedFunctionNames: false
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
TabWidth: 8
UseTab: Never
...
